* {
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
}

.movie_search {
    /* position: relative; */
    width: 50%;
    margin: 30px auto 0 auto;
}

.search_database {
    margin: 30px;
}

.check_results {
    margin: 30px;
}

input {
    width: 150px;
    height: 30px;
    font-size: 12px;
    margin-left: 10px;
}

.header {
    width: 100%;
    text-align: center;
}

.search,
.save {
    width: 250px;
    height: 30px;
    border-radius: 8px;
    display: block;
    margin: 10px auto 0 auto;
}

h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
}

img {
    display: block;
    height: 200px;
    width: 200px;
    object-fit: cover;
    margin: 0 auto;
}

p {
    text-align: center;
}

.new {
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
    width: 50%;
    margin: 0 auto 20px auto;
    /* position: relative; */
}

.expand {
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    margin: 0 auto 20px auto;
    /* position: relative; */
}

.check_results input {
    width: 100%;
}

.result:hover {
    background-color: rgba(192, 192, 192, 0.5);
}
